.home-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.home-list .game-item .game-col-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
